Kee-lek

เราต้องการทำระบบคีย์หวย
ชื่อระบบว่า Kee-Lek
โทนสี พาสเทล ส้ม ทอง ขาว 
Tech Stack
Frontend : reacts + vite + tailwind css + axis + socket.io (รันผ่าน npm ใช้คำสั่ง npm start)
Backend : nodejs express + socket.io (รันผ่าน npm ใช้คำสั่ง npm start)
Database : MySQL (รันผ่าน docker) 
Docker มีหน้าที่รัน MySQL อย่างเดียว
ตอนนี้ใน docker เรามีรัน 
1 ตัวคือ
Name Group : docker
- Container : mysql-twiniiz <- มีอยู่แล้ว port : 3307:3306
- Container : mysql-kuayrai <- ต้องการเพิ่มไปใหม่
เราต้องการเพิ่ม Container ไปใหม่ เป็น mysql-kuayrai อยู่ภายใต้ Group name : docker เดียวกันกับ Container : mysql-twiniiz
ระบบนี้เราจะใช้ database name ว่า keeled

Folder Structure
kee-lek
- frontend
- backend
- schemas
- docker

เดี๋ยวเราจะอธิบายการทำงานนะว่าระบบทำอะไรได้บ้างและเราต้องการประมาณไหน
ระบบต้องรองรับทั้ง desktop และ mobile

ระบบ login 
User แรกที่ควรมีในฐาน้อมูลก่อนเลยคือ admin
ตอนนี้เราต้องการ user ที่เป็น admin ก่อนเลยคือ 2 user
- admintor password
- adminmike password
เจ้าของระบบนี้จะมีอยู่สองคนคือ ต่อ และไมค์
ประเภท user ในระบบจะมี 3 ประเภทคือ
- Admin
- Leader
- Member
ประเภท leader จะเกิดจาก admin จะเป็นคน generate user ไว้ให้
ข้อมูลที่จะต้องกรอกตอนจะ generate user
- ชื่อจริง-สกุล
- เบอร์โทร
แค่นั้นเลย
หลังจากนั้นระบบก็จะ generate user ไปให้และจะได้รหัสไปด้วยและเอาไปให้ leader เข้าไปเปลี่ยนรหัสผ่านเอง
ประเภท member จะเกิดจาก leader เป็นคนเปิดให้
ข้อมูลที่จะต้องกรอกตอนจะ generate user
- ชื่อจริง-สกุล
- เบอร์โทร

เราอยากให้ user ที่เป็นแต่ละประเภทตอน generate มี pattern ของตัวเอง
เพื่อไม่ให้ ซ่ำกับคนอื่นๆหรือของ leader อื่นๆ ทั้ง member และ leader
เช่น
User : leader1 ประเภท Leader
- ld1mem1 ประเภท Member
- ld1mem2 ประเภท Member

User : leader2 ประเภท Leader
- ld2mem1 ประเภท Member
- ld2mem2 ประเภท Member

อันนี้คือสมมุตินะ นายอาจจะคิดในรูปแบบนายใหม่ก็ได้นะ
แล้วก็อย่าลืมทำให้ user ที่ login เข้าไปสามารถเปลี่ยน password ได้นะ

ถ้ายังไม่เคย login เข้าระบบจะต้อง Login ก่อนทุกครั้ง

รายละเอียดเมนูที่มีในระบบ
- ผล
- โพย
- ตั้งค่า
- คีย์
- สถิติ
- บัญชี

เดี๋ยวเราจะมีบอกนะว่า 
User แต่ละประเภทจะมีเมนูหลักอะไรบ้าง
Admin
- ผล
- ตั้งค่า <- เน้นใหญ่เป็นพิเศษ
- สถิติ

Leader
- ผล
- โพย
- ตั้งค่า <- เน้นใหญ่เป็นพิเศษ
- สถิติ
- บัญชี

Member 
- ผล
- โพย
- คีย์ <- เน้นใหญ่เป็นพิเศษ
- สถิติ
- บัญชี

การทำงานจองแต่ละเมนู
เมนู-ผล : คือหน้าที่เอาไว้แสดงผลของหวยแต่ละประเภทแต่ละชนิด
รางวับที่ออกจะประกอบไปด้วย (3 ตัวบน, 2 ตัวบน, 2 ตัวล่าง) 
สามารถ filter ดูย้อนหลังได้ เลือก ชนิดหวย เลือกประเภทด้วยได้

=======================

เมนู-โพย : คือหน้าที่จะเอาไว้แสดงว่าตอนนี้มีโพยอะไรบ้าง
ถ้าเป็น member ก็จะเห็นแสดงแค่ โพยของตัวเอง สามารถแก้ไขหรือยกเลิกโพยใบนั้นได้
การยกเลิกโพยหรือการแก้ไขจะทำได้ก็ต่อเมื่อหวยโพยในนั้นยังไม่ถึงเวลาปิดรับ
สามารถ Filter กรองดูได้ว่าต้องการดูโพยของหวยประเภทไหน ชนิดไหน งวดวันไหน
ถ้าเป็น leader ก็จะเห็นของ member ทุกคนที่อยู่ภายใต้ตัวเอง แต่จะไม่สามารถแก้ไขและไม่สามารถยกเลิกได้
การกรองหรือ filter จะเพิ่ม filter ตาม member ได้

=======================

เมนู-ตั้งค่า : เมนูนี้ตะเป็นการตั้งค่า
ถ้าเป็น admin ก็จะเป็นหน้าระบบที่เอาไว้ เพิ่ม leader ลบ leader สามารถกำหนดเวลาวัน เวลาการใช้งานให้กับ leader ได้
ถ้าเวลาของ leader หมด ทั้ง leader และ member ที่อยู่ภายใต้จะไม่สามารถเข้าใช้งานระบบได้
ข้อมูลของ leader ทุกคนจะต้องมีเวลาการใช้งานกำหนดไว้ทุกคน คนที่กำหนดได้นั้นจะเป็น admin คนเดียวเท่านั้น เพื่อเอาไว้ให้ leader จ่ายเพื่อซื้อเวลาในการใช้งานระบบ 
ถ้าเป็น admin สามารถเพิ่ม ลบ แก้ไข งวดหวยประมาณเภทได้ว่าจะมีหวยอะไร ชนิดไหน ประเภทอะไร หวยแต่ละประเภทมีงวดไหนบ้าง
เราจะเรียงลำดับให้นะ
ชนิดหวย คือ หวยไทย, หวยนอก
ประเภทหวย คือ หวยรัฐบาล, หวยออมสิน หรือ หวยลาว, หวยฮานอย อะไรพวกนี้
แต่ละหวยก็จะมีงวดแต่ละงวด ปัจจุบันตอนนี้ หวยลาวออกทุก จันทร์ - ศุกร์เลย
ไทยก็ทุกวันที่ 1 และ 16
ส่วนฮานอยเรายังไม่รู้
ตอนนี้เราจะให้ระบบมีแค่ 
หวยไทย -> หวยรัฐบาล, หวยออมสิน(Disabled ไว้ก่อน)
หวยนอก -> หวยลาว, หวยฮานอย(Disabled ไว้ก่อน)
ในการกำหนดงวด admin จะต้องระบุเวลาที่ระบบจะออกผลให้ด้วยว่าระบบจะออกผลให้ตอนไหน
คนที่คีย์ผลก็จะเป็น admin นั้นแหล่ะเป็นคนคีย์ผลในหน้าตั้งค่านี่แหล่ะ
admin สามารถเปิดปิดเพิ่มหวยได้ตลอดเวลา
ถ้าเป็น leader การตั้งค่านี้จะเป็นการตั้งค่า เวลาปิดรับหวยขิงแต่ละหวยที่ admin เพิ่มมาไว้
และเอาไว้กำหนดค่าหวยแต่ละเลขจะรับซื้อได้ max ที่เท่าไหร่
เช่นกำหนดไว้ว่า เลข 2 หลัก กำหนดไว้ว่า เลขละไม่เกิน 1000 บาทต่องวด
สมมุติ 
member1 ส่งโพย 
32 บน 100 บาท
32 ล่าง 50 บาท
member2 กำลังคีย์
แล้วมีเลข 32 บน ก็จะเห็นได้ทันทีเลยว่าตอนนี้ เลขนี้ยังสามารถรับยอดได้อีก 900 บาท
ค่าพวกนี้จะดึงและส่งแบบ realtime เลยเราเลยใส่ socket.io
เพื่อกันไว้ว่าในขณะที่กำลังคีย์อยู่แล้วดันมี member อื่นส่งโพยไปก่อน ยอดที่รับได้ของแต่ละเลขก็จะต้องมีการปรับเปลี่ยนตลอดเวลา
และเรื่องตั้งค่าสำคัญของ leader คืออัตราแบ่งจ่ายมันจะเหมือนกับค่าคอม แต่เขาจะใช้คำว่าส่วนลด
ทำไมถึงใช้คำว่าส่วนลด member ทุกคนจะใช้ เครดิตในการส่งโพยให้ leader ใช่มั้ย
สมมุตินะ
leader1 มี member1 แบะได้ใส่ credit ให้ member คนนี้ไว้ที่ 5000 credit
ตัวอย่างที่ 1 ไม่มีกำหนดส่วนลด
ผู้ใช้ member1 มีส่งโพย 1 โพย ในโพยประกอบไปด้วย 
32 บน 100 บาท
32 ล่าง 200 บาท
ยอดในโพยนี้บิลนี้คือ 300 บาท
แสดงว่ายอดส่งบิลไม่เกินจำนวน เครดิตที่ตัวเราเองมีสามารถส่งได้
หลังจากส่งไปแล้วเครดิตของ user คนนั้นก็จะหายไป 300 เหลือ 4700
จะสังเกตุได้เลยว่า member จะต้องส่งยอดเต็มๆ
ตัวอย่างที่ 2 leader มีกำหนดส่วนลดให้
เช่น Leader กำหนดไว้ว่า เลขสองหลักของหวยไทยรัฐบาลลดให้ 10%
ผู้ใช้ member1 มีส่งโพย 1 โพย ในโพยประกอบไปด้วย 
32 บน 100 บาท
323 บน 200 บาท
ยอดในโพยนี้บิลนี้คือ 300 บาท
แต่ยอดที่จะตัดเครดิตคือ 290 เครดิต แต่ลูกค้าก็ต้องโอนให้ member1 300
แต่ member1 จะถูกตัดเครดิตแค่ 290 เครดิต
แสดงว่ายอดส่งบิลไม่เกินจำนวน เครดิตที่ตัวเราเองมีสามารถส่งได้
หลังจากส่งไปแล้วเครดิตของ user คนนั้นก็จะหายไป 290 เหลือ 4710
เหมือนเป็นค่าคอมของประเภทเลขที่ขายได้ แต่เขาใช้คำว่าส่วนลดเพราะมันจะลดกับการตัดเครดิตของ member
leader สามารถกรอกเลขอั้น เลขจ่ายครึ่งได้ว่างวดไหนหวยประเภทอะไร
leader สามารถกำหนดได้ว่าหวยแต่ละประเภท จ่ายบาทละเท่าไหร่ เช่น 2 ตัวบนบาทละ 95 บาท อะไรประมาณนั้น อันนี้ไม่ต้องกำหนดเป็นงวด

=======================

เมนู-คีย์ : เมนูนี้คือหัวใจสำคัญต้องใช้งานง่ายไม่รก สะดวกในการดูการใช้งาน
เมนูนี้หน้าแรกเลยคือจะแสดงประเภทหวยทั้งหมดที่มีโดยจับกลุ่มแบ่งตามชนิดหวย
การ์ดของหวยแต่ละประเภทจะประกอบไปด้วยชื่อหวย ธงของประเทศ เวลาปิดรับที่ leader กำหนดแบบนับถอยหลังถ้าเหลือหลักวันก็ให้แสดงจำนวนกี่วันด้วย
หลังหลังจากเลือกประเภทหวยแล้วก็จะเข้าไปหน้าคีย์
หน้าคีย์จะประกอบไปด้วย ปุ่มเลือกโหมดว่าต้องการกรอกเลขโหมดไหน
โหมดเลขที่กรอก
- 2 ตัว
- 3 ตัว
- 6 กลับ
- รูด
- วิ่ง
- วิน
อาจจะทำเป็นปุ่มแบบ tab ก็ได้
โหมด 2 ตัว
- จะมี checkbox ให้เลือกว่าจะกลับตัวเลขด้วยมั้ย
- จะมีช่องกรอกตัวเลขไม่เกิน 2 หลัก / หรือสามารถ copy ข้อความที่ลูกค้าส่งมาให้แล้วเอามาวางไว้ได้เลย
- จะมีช่องให้กรอกให้ 2 ช่อง ช่องแรกยอดที่จะซื้อ บน x ช่องสองยอดที่จะซื้อล่าง
- และอยากให้แสดงด้วยว่าเลขแต่ละตัวเหลือยอดที่สามารถซื้อได้เท่าไหร่
- ถ้ามีเลขอั้นหรือจ่ายครึ่งก็ต้องแจ้งให้เห็นด้วย
- สามารถกด TAB จากคีย์บอร์ดเพื่อให้เลื่อนช่องอัตโนมัติได้
- สามารถกด ปุ่มตัวช่วยได้เลยโดยไม่ต้องกรอกคือ ปุ่มเลขเบิ้น มันจะได้เลข 00 11 22 33 ... 99
การทำงานของ หวยสองตัวคือ
กรอกแบบปกติทีะตัวทั่วไปอันนี้ไม่น่ามีปัญหามันจะมีบอกว่ากรอกได้ไม่เกิน 2 หลักเล็กๆประมาณ 0/2 อะไรประมาณนี้
แต่มันจะมี function copy วาง
รูปแบบข้อความที่ Copy ก็จะประมาณนี้
17.18.19.10.11 50*50บนล่าง
17.18.19.10.11 =50*50บนล่างกลับ
17.18.19.10.11 50*50*50
17
18
19
10
11 50*10
17
18
19
10
11 50*10
17.18.19.10.11 50*0
17 18 19 10 11 =50
17.18.19.10.11 =50บน

ตัวอล่างอย่างละบรรทัด
ถ้าอยู่ในโหมด 2 ตัวก็จะเอามาเฉพาะ 2 ตัว
และในรูปแบบ copy วาง จะไม่สามารถติ๊กเลือกกลับได้
หลังจากวางแล้วก็ให้ใส่จำนวนเงินได้เลย บนxล่าง ตัวเลขทั้งชุดที่เก็บมาก็จะเป็นจำนวนเงินเดียวกัน

โหมด 3 ตัว
ทุกอย่างเหมอืนกับ 2 ตัวเลยแค่จะเปลี่ยนจาก
บนxล่าง ไปเป็น บนxโต๊ด
และเปลี่ยนจากกรอกตัวเลข 2 หลักเป็น 3 หลัก
มี copy วางเหมือนกันนะ
และจะมีปุ่มช่วยกรอกจะไม่ใช่เลชเบิ้นแต่จะเป็นเลขตองคือ 000 111 222 ... 999

โหมด 6 กลับ
จะให้กรอกตัวเลข 3 หลัก
จะไม่สามารถ copy วางได้
และมีให้กรอกยอดเงิยที่จะซื้อ 1 ช่องคือ บน
ใหมดนี้ซื้อได้แค่ 3 ตัวบนเท่านั้น ไม่สามารถซื้อโค๊ดได้

โหมด รูด
ให้กรอกตัวเลขแค่ 1 หลัก
จะมีช่องให้กรอก 2 ช่อง ช่องแรกยอดที่จะซื้อ บน x ช่องสองยอดที่จะซื้อล่าง
ก็จะได้ชุดเลข 2 หลักที่มีตัวเลขที่กรอกเป็นองประกอบ

โหมด วิ่ง
ให้กรอกตัวเลขแค่ 1 หลัก
จะมีช่องให้กรอก 2 ช่อง ช่องแรกยอดที่จะซื้อ บน x ช่องสองยอดที่จะซื้อล่าง
ถือว่าเราซื้อ ตัวเลขนี้แค่ 1 หลักเท่านั้น
ราลวัลของมันคือ ถ้าเลขตัวนี้มีอยู่ในวางวัล 2 ตัวบน หรือ 2 ตัวล่างที่เราซื้อก็จะถูก

โหมด วิน
มันจะเป็นเหมอืนโหมดช่วยคิดตัวเลขคือ ในโหมดนี้จะต้องเลือกว่าได้ถ้าเลขกี่หลัก
2 ตัว หรือ 3 ตัว
ถ้าเลือก 2 ตัว สามารถกรอกเลขอะไรก็ได้ 2-3 หลัก แค่เลขจะต้องไม่ซ้ำกัน ใส่ยอดได้ทั้ 2 ตัวบนและล่าง 
และจะมีให้ติ๊กด้วยว่าจะเอาเลขเบิ้นด้วยมั้ย
เช่นกรอก 123
ระบบมันก็จะเอาเลขสามตัวที่กรอกมา เอาไปทำเป็นเลข 2 หลักให้ เช่น 12 13 21 23 32 31 อะไรประมาณนี้
ถ้าเลือกเลข 3 หลักมันก็จะให้กรอกเลข 3 หลักเท่านั้นแล้วมันก็จะเอาไปทำเป็นเลขให้ ใส่ยอดได้แค่ 3 ตัวบนเท่านั้น
และจะมีให้ติ๊กด้วยว่าจะเอาเลขตองด้วยมั้ย

โหมดทั้งหมดจะมีประมาณนี้
ในหน้าคีย์จะต้องมีตรงไหนก็ได้ที่เอาไว้แสดง 5 รายการของ member ที่กำลังคีย์ด้วยสามารถแก้ไขหรือลบได้ถ้ายังไม่เกินเวลาปิดรับ
อาจจะทำเป็นปุ่มลอยๆตามไปตามมาทุกที่สามารถเลือกย้ายตำแหน่งปุ่มก็ได้ กดปุ่มแล้วจะแสดงให้เห็น
และอยากให้มีแสดงตรงไหนก็ได้ที่จะเอาไว้บอกว่าหวยประเภทนี้งวดนี้ มีเลขอั้นหรือจ่ายครึ่งมั้ยตัวไหน
อาจจะทำเป็นปุ่มลอยๆตามไปตามมาทุกที่สามารถเลือกย้ายตำแหน่งปุ่มก็ได้ กดปุ่มแล้วจะแสดงให้เห็น

หลังจากกดเพิ่มเลขลงโพย/บิล จะมีหน้าสรุปให้เห็นด้วยว่ามีเลขไหนที่ซื้อบ้างและอยากให้มีปุ่มกด Copy เป็นรูปภาพเพื่อเอาไปส่งให้ลูกค้าได้ ไม่ต้องโหลดนะ ให้เป็นกดแล้วระบบจะ copy เป็นรูปภาพให้เลย
ประมาณว่าอยากให้ลูกค้ายืนยันว่าเลขที่กรอกไปประมาณนี้ยอดเท่านี้ ถ้าลูกค้าโอเค เราค่อยมายืนยันส่งโพย
รูปแบบที่จะส่งให้ลูกค้าดูอยากให้แบบกระชับสั้นไม่ยาวสามารถ group โหมดเลขประเภทเลขได้ ราคาได้
เช่นซื้อ 
32 บน 100
32 ล่าง 100
23 บน 100
23 ล่าง 100
50 บน 100
56 ล่าง 100
123 บน 100
123 โต๊ด 100
246 บน 50
468 โต๊ด 50
ตอน Copy เป็นรูปภาพส่งให้ลูกค้าอาจจะสรุปเลขให้กระชับๆแบบนี้ก็ได้
2 ตัว
32, 23 = 100x100
50 = 100x0
56 = 0x100
3 ตัว
123 = 100x100
246 = 50x0
468 = 0x50
ประมาณนี้
สรุปยอดที่ต้องลูกค้าต้องจ่าย 

ตอนจะกดส่งโพยหรือบิล 
จะต้องไม่มีเลข อั้น ในโพย
และจะต้องมีเครดิตพอที่จะส่งโพยหรือบิลได้
และตัวเลขแต่ละชุดจะต้องสามารถซื้อได้คือยอดยังเหลือให้ซื้อได้ยังไม่เกิน max 
มีช่องให้ใส่หมายเหตุ(ไม่บังคับต้องกรอก)
หลังจากกดส่งโพยหรือบิล รายการนี้จะไปอยู่ในเมนู-โพย
และในหน้าคีย์ก็จะเคลียร์เลขที่กรอกไปทั้งหมดแต่ยังอยู่ในหวยประเภทชนิดเดิมอยู่สามารถกรอกบิลหรือโพยต่อไปได้เลย
Default ไว้ที่ เลขโหมด 2 ตัว
แล้วก็ในรายการ 5 โพยล่าสุดก็จะมีรายการโพยที่เพิ่งส่งเข้าไปอยู่ในนั้นแล้ว
อยากให้มีสรุปให้ member เห็นด้วยว่าในโพยนั้นๆที่จะกดส่งไปอะ member ได้ส่วนลดไปกี่บาทจากเขอะไรบ้างเท่าไหร่ อะไรประมาณนี้
ตอนรายการแสดงในบิลหรือโพยที่ไม่ใช่เอาไว้ส่งลูกค้าอะจะแสดงแบบละเอียดเลยมันยาวลงไปเรื่อยๆเหมอืนบิลร้านของของทั่วไปเลย
มียอดสรุปที่ member จะเสีย เครดิตให้ leader และยอดที่ลูกค้าจะต้องโอนให้ และได้ส่วนต่างหรือส่วนลดเท่ากี่บาท งง มั้ย
แสดงว่าในหน้านี้ member สามารถดูประเภทบิลหรือโพยได้สองแบบ 
แบบแรกคือแบบที่ส่งให้ลูกค้าอันนี้จะไม่มีบอกอัตราส่วนลดจะมีบอกแค่ยอดที่ลูกค้าต้องโอนให้ member
แบบสองคือแบบบิลที่คล้ายๆกับร้านขายของหรือบิลของร้านเซเว่นอะไรประมาณนั้น มีอัตราที่จะได้ส่วนต่างอะไรพวกนี้บอกด้วย
=======================

เมนู-สถิติ : อันนี้จะเป็นพวกรายการต่างๆ ผลได้ผลเสีย บิลไหนได้บิลไหนเสียสามารถดูได้หมดเลย
ถ้าเป็น member ดูได้แค่เฉพาะของตัวเองเท่านั้น ถ้าเป็น leader สามารถดู member ที่อยู่ภายใต้ตัวเองได้หมด
ถ้านี้อยากเอาไว้ให้ผู็ใช้งาน monitor ดูเฉยๆว่า แต่ละยอดเป็นยังไงยอดขายดีมั้ย อยากให้นายช่วยออกแบบให้เลย
จะให้มีกราฟด้วยก็ได้นะ เรายังไม่รู้ว่าจะเอาไว้ดูอะไรได้บ้างนายลองออกแบบมาให้เลย เหมือนเป็นหน้า dashboard 

=======================

เมนู-บัญชี : จะเอาไว้แสดงรายละเอียดของบัญี username ตัวเอง
และจะมีบอกจำนวนเครดิตของตัวเองด้วย มีปุ่มให้เปลี่ยนรหัสผ่าน
ถ้าเป็น member ก็จะเป็นเฉพาะข้อมูลของตัวเอง
ถ้าเป็น leader จะมีข้อมูลเครือข่ายของตัวเองว่ามีใครอยู่ภายใต้เราบ้าง
ถ้าเป็น leader จะสามารถกด generate user member ได้ด้วย
ถ้าเป็น leader สามารถเพิ่มเครดิตให้ member ได้ตลอดเวลาหรือจะลดเครดิตของ member ตอนไหนก็ได้
อนาคตเราจะให้ สามารถกดผูกกับ Line OA ได้เพื่อรับข่าวสารหรือการแจ้งเตือนอื่นๆ เช่นผลหวย , โพยที่ member ส่ง

=======================

ระบบนี้จะไม่ใช้ alert() และ confirm() เราจะให้นายทำ popup alert และ popup confirm ขึ้นมาสวยๆที่เป็นของระบบเราเอง

ถ้าเป็นไปได้อยากให้มีระบบแจ้งเตือนแบบข้อความส่งไปหา user ด้วย
เช่นถ้า member มีการส่งโพย ก็จะมีข้อความส่งไปให้ leader 

แล้วก็ในส่วนของ Header page เราอยากให้แสดง credit ของ member ด้วยนะถ้า login เป็น member จะได้ไม่ต้องกดเข้าไปดู เครดิตที่ บัญชีสามารถดูที่ header ได้เลย

อยากให้มีปุ่มร้องขอ credit สำหรับ member ด้วยถ้ากดร้องขอเพิ่มเครดิตให้กรอกจำนวนเครดิตที่ต้องการเพิ่ม
แล้วระบบก็จะส่งแจ้งเตือนให้ leader ทราบว่ามี member ร้องขอ เครดิตมาถ้ากด Approve ก็จะเป็นการอนุมัติยอดเครดิตให้เลยอัตโนมัติ leader ก็ไม่ต้องเข้าไปกรอกเพิ่มให้เองด้วย แต่ถ้าไม่ approve ก็จะมีช่องใส่หมายเหตุแล้วกด reject หรือตีกลับส่งกลับ
ทั้งสองแบบที่ leader กดจะส่งกลับไปแจ้งให้ member รู้ทันทีและยอดก็จะต้องปรับแบบ realtime
